:root {
    --bg_color: #222;
    --panel_color: #00000033;
    --accent_color: #3451a3;
}


html {
    background-color: var(--bg_color);
    height: 100vh;
    width: 100vw;

    color: white;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

img.placeable {
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
}

img {
    cursor: pointer;
}

.container {
    height: 100vh;
    width: 100vw;
}

.overlay {
    position: absolute;
    z-index: 1;
}

.sidebar {
    width: 25vw;
    border-right-color: var(--accent_color);
    border-right-width: 1%;
    border-right-style: dotted;
    padding: 1%;
    height: 97vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.container.centered {
    align-items: middle;
    align-content: middle;
    text-align: center;
}

.no-spacing {
    margin: 0;
}

canvas {
    height:100%;
    width:100%;
    cursor: move;
}

.tinted {
    background-color: var(--panel_color);
    backdrop-filter: blur(5px);
}

p.x2 {
    height:2vh;
}
p.x3 {
    height:4vh;
}
p.x4 {
    height:6vh;
}
p.x5 {
    height:8vh;
}
p.x6 {
    height:10vh;
}